In [2]:
import pandas as pd

# Load dataset
file_path = "Job_Placement_Data_Enhanced.csv"
df = pd.read_csv(file_path)

In [3]:
print("Dataset Loaded Successfully!\n")

Dataset Loaded Successfully!

In [4]:
print("First 5 rows:")
print(df.head())

First 5 rows:
  gender  ssc_percentage ssc_board  hsc_percentage hsc_board hsc_subject  \
0      M           67.00    Others           91.00    Others    Commerce
1      M           79.33   Central           78.33    Others     Science
2      M           65.00   Central           68.00   Central        Arts
3      M           56.00   Central           52.00   Central     Science
4      M           85.80   Central           73.60   Central    Commerce

   degree_percentage undergrad_degree work_experience  emp_test_percentage  \
0              58.00         Sci&Tech              No                 55.0
1              77.48         Sci&Tech             Yes                 86.5
2              64.00        Comm&Mgmt              No                 75.0
3              52.00         Sci&Tech              No                 66.0
4              73.30        Comm&Mgmt              No                 96.8

  specialisation  mba_percent      status  years_experience  \
0         Mkt&HR        58.80      Placed                 3
1        Mkt&Fin        66.28      Placed                 4
2        Mkt&Fin        57.80      Placed                 2
3         Mkt&HR        59.43  Not Placed                 4
4        Mkt&Fin        55.50      Placed                 4

   skills_match_percent  num_certifications  internship_completed  \
0                    98                   1                     0
1                    88                   1                     1
2                    41                   1                     1
3                    41                   0                     0
4                    67                   0                     0

   interview_score company_tier job_competition_level
0               94          Mid                Medium
1               54          MNC                   Low
2               82      Startup                   Low
3               50          MNC                  High
4               67          Mid                  High

In [5]:
print("\nDataset Info:")
print(df.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 215 non-null    object
 1   ssc_percentage         215 non-null    float64
 2   ssc_board              215 non-null    object
 3   hsc_percentage         215 non-null    float64
 4   hsc_board              215 non-null    object
 5   hsc_subject            215 non-null    object
 6   degree_percentage      215 non-null    float64
 7   undergrad_degree       215 non-null    object
 8   work_experience        215 non-null    object
 9   emp_test_percentage    215 non-null    float64
 10  specialisation         215 non-null    object
 11  mba_percent            215 non-null    float64
 12  status                 215 non-null    object
 13  years_experience       215 non-null    int64
 14  skills_match_percent   215 non-null    int64
 15  num_certifications     215 non-null    int64
 16  internship_completed   215 non-null    int64
 17  interview_score        215 non-null    int64
 18  company_tier           215 non-null    object
 19  job_competition_level  215 non-null    object
dtypes: float64(5), int64(5), object(10)
memory usage: 33.7+ KB
None

In [6]:
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
gender                   0
ssc_percentage           0
ssc_board                0
hsc_percentage           0
hsc_board                0
hsc_subject              0
degree_percentage        0
undergrad_degree         0
work_experience          0
emp_test_percentage      0
specialisation           0
mba_percent              0
status                   0
years_experience         0
skills_match_percent     0
num_certifications       0
internship_completed     0
interview_score          0
company_tier             0
job_competition_level    0
dtype: int64

In [7]:
# Save cleaned structured formats
df.to_csv("job_placement_cleaned.csv", index=False)

print("\nFiles saved successfully!")

Files saved successfully!